$white: #fff;
$black: #000;

$primary: #dcdcdc;

$example-50: #1234;
$example-100: #5678;

$example-bg: #9101;

$point: #fdb913;
$gray-100: #eee;

$bar-highlight: #f5c342;
$label-highlight: #00b0f0;

// Grayscale
$white: #fff;
$gray0: #f8f9fa;
$gray1: #f1f3f5;
$gray2: #e9ecef;
$gray3: #dee2e6;
$gray4: #ced4da;
$gray5: #adb5bd;
$gray6: #868e96;
$gray7: #495057;
$gray8: #343a40;
$gray9: #212529;
$black: #000;