.wrapper {
  width: 100%;
  
  .chart {
    width: 80%;
    height: 200px;
    margin: 0 auto;
    font-size: 10px;
  }

  .chart2 {
    width: 80%;
    height: 150px;
    margin: 0 auto;
    font-size: 14px;
  }
}