.chartWrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;

  .resultBox {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .percentage {
      position: relative;

      .mark {
        position: absolute;
        bottom: -4px;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 10px;
        background: #ffdc65;
      }
    }

    .text {
      line-height: 1.4;
    }
  }

  .chartBox {
    width: 100%;
    margin-top: 80px;

    .graphBox {
      position: relative;
      display: flex;
      align-items: flex-end;
      margin: 5% auto;
      text-align: center;
      border-bottom: 1px solid #aaa;

      .graph {
        .rect {
          position: relative;
          margin: 0 auto;

          .point {
            position: absolute;
            top: -3px;
            left: calc(50% - 3px);
            transform: rotate(45deg);
          }

          .score {
            position: absolute;
            top: -30px;
            left: calc(50% - 20px);
            width: 40px;
          }
        }

        .mineRect {
          width: 40px;
          height: 100px;
          background: #fff176;

          .minePoint {
            width: 6px;
            height: 6px;
            background: #131313;
          }

          .mineScore {
            color: #42a5f5;
          }
        }

        .averageRect {
          width: 40px;
          height: 120px;
          background: #ef5350;

          .averagePoint {
            width: 6px;
            height: 6px;
            background: #131313;
          }
        }
      }

      .line {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 1px;
        background: #131313;
      }
    }

    .textBox {
      display: flex;
      width: 100%;
      padding-top: 20px;
      text-align: center;
    }

    .graph,
    .text {
      width: 50%;
    }
  }
}
